<div class="mypage-edit-wrapper">
 <div class="mypage-edit-container">
  <h1>プロフィール編集</h1>
 
  <div class="profiel-form">
   <div class="form-body">
     <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
    <% end %>

    <%= form_tag("/users/#{@user.id}/update") do%>
     <p>ユーザー名</p>
     <input  name="name" value="<%= @user.name %>">
     <p>メールアドレス</p>
     <input name="email" value="<%= @user.email %>">
     <p>パスワード</p>
     <input name="password" type= "password" value="<%= @user.password %>">

     <div class="edit-save-btn">
      <input type="submit" value="編集を保存">
     </div>
    <% end %>  

    <div class="edit-cancel-btn">
     <%= link_to("/users/#{@user.id}") do%>
     <button class="btn btn-cancel" >キャンセル</button>
    
     <% end %>
    </div>

   </div>
  </div>
 </div>
</div>
